.main {
	width: 100%;
	padding: 0 2em 3em;
	max-width: 100em;
}

.cbp-mc-form {
	position: relative;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.cbp-mc-form:before, 
.cbp-mc-form:after { 
	content: " "; display: table; 
}

.cbp-mc-form:after { 
	clear: both; 
}

.cbp-mc-column {
	width: 33%;
	padding: 0px 0px;
	float: left;
}

.cbp-mc-column-foot {
	width: 33%;
	padding: 0px 0px;
	float: left;
	text-align:center;
}

.cbp-mc-form label {
	display: block;
	padding: 5px 2px 2px 2px;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}

.cbp-mc-form input {
line-height: 1.4;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #666666;
	display: block;
	width: 81%;
	background: transparent;
}
.cbp-mc-form textarea,
.cbp-mc-form select {
	line-height: 1.5;
	font-size: 1em;
	padding: 5px 10px;
	color: #666666;
	display: block;
	width: 90%;
	background: transparent;
}

.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
	border: 3px solid #fff;
}

.cbp-mc-form textarea {
	min-height: 200px;
}

.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
	outline: none;
	border: 3px solid #ba243d;
}

.cbp-mc-form select:focus {
	outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ba243d;
    font-style: italic;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ba243d;
    font-style: italic;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ba243d;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ba243d;
    font-style: italic;
}

.cbp-mc-submit-wrap {
	text-align: center;
	padding-top: 30px;
	clear: both;
}

.cbp-mc-form input.cbp-mc-submit {
	background: #ba243d;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
	margin:0 auto;
}

.boton-resultado
{
	background: #ba243d;
	border: none;
	color: #fff;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 5px;
	font-size: 1em;
	border-radius: 2px;
	letter-spacing: 1px;
	margin-bottom:5px;
	margin-top:-10px;
}
.cbp-mc-form input.cbp-mc-submit:hover {
	background: #00528c;
}

@media screen and (max-width: 70em) {
	.cbp-mc-column {
		width: 50%;
	}
	.cbp-mc-column:nth-child(3) {
		width: 100%;
	}
	.cbp-mc-column-foot {
		width: 50%;
		}
}

@media screen and (max-width: 48em) {
	.cbp-mc-column {
		width: 100%;
		padding: 5px;
	}
	.cbp-mc-column-foot {
		width: 100%;
		}
}