.slider{ width:946px;position:relative; z-index:1; background:#fff; padding:2px;}
.flexslider {width: 600px; margin: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 595px; height:446px; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
/* control Nav */
.flex-control-nav{ position:relative; bottom:0px; left:0px;}
	.flex-control-nav li{ display:block; float:left; margin-right:1px;}
		.flex-control-nav li a{ display:block; background:url(../images/pagination.png) 0 0 no-repeat; width:18px; height:18px; text-indent:-5000px;}
		.flex-control-nav li a:hover,.flex-control-nav li a.active{ background-position:0 -18px;}
/* Caption */
.flex-caption{ position:absolute; font:20px/24px Arial, Helvetica, sans-serif; color:#382c27; text-align:center; width:100%; bottom:-40px;}
/* Background */
.bg-slider{ background:url(../images/bg-slider.png) no-repeat; width:600px; height:300px;}
.main-slider{ float:left; width:600px; height:500px; padding-left:11px; overflow:hidden;}
@media only screen and (min-width: 768px) and (max-width: 995px) {
	.main-slider{ width:400px; height:348px; padding-left:0;}
	.slider {width:746px; padding:2px;}
	.bg-slider{ width:755px;background:url(../images/bg-slider2.png) 0% -4px no-repeat; }	
	/*.flex-control-nav{left:45%;}*/
	.flexslider .slides img {width: 395px; height:296px; display: block;}
}
@media only screen and (max-width: 480px) {
	.main-slider{ width:365px; height:266px; padding-left:0;}
	.slider {width:746px; padding:2px;}
	.bg-slider{ width:755px;background:url(../images/bg-slider2.png) 0% -4px no-repeat; }
	/*.flex-caption{ display:none;}*/	
	.flexslider .slides img {width: 340px; height:240px; display: block;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.main-slider{ width:420px; height:348px; padding-left:0;}
	.slider {width:746px; padding:2px;}
	.bg-slider{ width:755px;background:url(../images/bg-slider2.png) 0% -4px no-repeat; }
	/*.flex-caption{ display:none;}*/	
	.flexslider .slides img {width: 415px; height:296px; display: block;}
}